#noContent{
    background-color: #E0E0E033;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid #B4B4B4;
    border-radius: 20px;
    color: #A4A4A4;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}