#menuContainer{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0px;

    #menuContent{
        display: flex;
        
        #sidebar{
            width: 260px;
            height: 1200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
        }
        #mainContent{
            width: calc(100% - 200px);
            height: 1200px;
            padding-right: 30px;

            p{
                font-size: 22px;
                font-weight: 600;
            }

            textarea{
                width: 100%;
                height: 100%;
                border-radius: 10px;
                border: 1px solid #ccc;
                padding: 10px;
                font-size: 18px;
            }
        }
        

    }

    #categoriaBtnVoltar{
        width: 100vw;
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 50px;
        gap: 20px;

        .btnCategoriasVoltar{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;

            button{
                width: 50%;
                height: 60px;
                border-radius: 30px;
                border: none;
                background-color: #8227D1;
                color: #fff;
                font-size: 22px;
                font-weight: 600;
            }
        }

        button{
            width: 50%;
            height: 60px;
            border-radius: 30px;
            border: 1px solid #8227D1;
            background: transparent;
            color: #8227D1;
            font-size: 22px;
            font-weight: 600;

            &:nth-child(2){
                background-color: #8227D1;
                color: #fff;
            }
        }
    }
}